:root {
  --background: #503C3C;
  --ground: #9BCF53;
  --snake: #31363F;
  --snake_head: #503C3C;
  --name: blue;
  --apple: #FF204E;
  --border: #454545;

  background-color: var(--background);

}

body {
  margin: 0px;
}