:root {
  --background: #DDDDDD;
  --ground: #9BCF53;
  --snake: #31363F;
  --snake_head: #503C3C;
  --name: blue;
  --apple: #FF204E;
  --border: #777777;
  --gold: #ffd700;
  --silver: #c0c0c0;
  --bronz: #cd7f32;

  background-color: var(--background);

}

body {
  margin: 0px;
}