.ground {
    // width: 1200px;
    background-color: var(--ground);
    padding: 0px;
    border: 1px solid var(--border);
    // height: 900px;
    border-radius: 0px;
    overflow: hidden;
    position: relative;
    // border-radius: 16px;

    .ground_snake {
        position: absolute;
        width: fit-content;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // flex-direction: row-reverse;
        z-index: 2;
        // transition: all 700ms ease-in-out;

        .snake_head {
            position: absolute;
            display: flex;
            // width: 30px;
            // height: 30px;
            background-color: var(--snake);
            border-radius: 0px;
        }

    }

    // .snake_tail {
    //     position: absolute;
    //     width: 30px;
    //     height: 30px;
    //     background-color: var(--snake);
    //     border-radius: 12px;
    // }



    .ground_buttons {
        position: absolute;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        span {
            position: absolute;
            white-space: nowrap;
            font-size: 50px;
            top: -100px;
            color: var(--snake);
        }

        .buttons_btn {
            height: 60px;
            width: 60px;
            background-color: transparent;
            border: none;
            outline: none;
            border-radius: 0px;
            cursor: pointer;
            color: var(--snake);
        }


    }

    .ground_apple {
        position: absolute;
        display: flex;
        align-items: flex-start;
        // transition: all 0.5s ease;

        .apple {
            // position: absolute;
            // width: 20px;
            // height: 20px;
            background-color: var(--apple);
            // border-radius: 50%;
        }

    }

}

.menu {
    width: 350px;
    height: 600px;
    border: 1px solid var(--border);
    border-radius: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;

    .player {
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        .player_label {
            font-size: 24px;
            white-space: nowrap;
        }

        .player_name {
            text-align: center;
            font-size: 22px;
            color: var(--name);
        }

        .player_form {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            margin-top: 10px;
        }

        .player_input {
            border: 1px solid var(--border);
            border-radius: 0px;
            font-size: 14px;
            padding: 6px 8px;
            font-weight: 600;
            color: var(--snake);
        }

        .player_btn {
            cursor: pointer;
            font-size: 14px;
            padding: 6px 10px;
            border: none;
            outline: none;
            border-radius: 0px;
            background-color: var(--snake);
            color: white;
            font-weight: 600;
        }

    }

    .score {
        width: 100%;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .score_label {
            font-size: 24px;

        }

        .score_value {
            min-width: 125px;
            font-size: 34px;
            color: var(--apple);
        }
    }

    .speed {
        width: 100%;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .speed_label {
            font-size: 24px;
        }

        .speed_value {
            border: 1px solid var(--border);
            border-radius: 4px;
            padding: 6px 4px;
            font-size: 18px;
            font-weight: 600;
        }
    }

}

.highscore {
    position: relative;
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .label {
        display: flex;
        font-size: 24px;
        position: relative;
        margin-bottom: 10px;
    }

    .list {
        margin-block-start: 0em;
        margin-block-end: 0em;
        position: relative;
        height: 320px;
        width: calc(100% - 40px);
        padding: 0px 20px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;
        color: var(--border);

        .item {
            width: 100%;
            line-height: 30px;
            font-weight: 400;
            font-size: 18px;
            list-style-type: none;
            border-top: 1px solid var(--snake);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .div {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;

                .name {}

                .rank {}

                .score1 {
                    color: var(--border);
                }

                .speed1 {
                    text-align: end;
                    font-family: sans-serif;
                    font-size: 12px;
                }

            }


        }

    }

    .list::-webkit-scrollbar {
        display: none;
    }

}